@charset "UTF-8";
/*----------------------------------------
	Material Colors
----------------------------------------*/
@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);
.color-red-50 {
  color: #ffebee;
}

.bgColor-red-50 {
  background-color: #ffebee;
}

.color-red-100 {
  color: #ffcdd2;
}

.bgColor-red-100 {
  background-color: #ffcdd2;
}

.color-red-200 {
  color: #ef9a9a;
}

.bgColor-red-200 {
  background-color: #ef9a9a;
}

.color-red-300 {
  color: #e57373;
}

.bgColor-red-300 {
  background-color: #e57373;
}

.color-red-400 {
  color: #ef5350;
}

.bgColor-red-400 {
  background-color: #ef5350;
}

.color-red-500 {
  color: #f44336;
}

.bgColor-red-500 {
  background-color: #f44336;
}

.color-red-600 {
  color: #e53935;
}

.bgColor-red-600 {
  background-color: #e53935;
}

.color-red-700 {
  color: #d32f2f;
}

.bgColor-red-700 {
  background-color: #d32f2f;
}

.color-red-800 {
  color: #c62828;
}

.bgColor-red-800 {
  background-color: #c62828;
}

.color-red-900 {
  color: #b71c1c;
}

.bgColor-red-900 {
  background-color: #b71c1c;
}

.color-red-a100 {
  color: #ff8a80;
}

.bgColor-red-a100 {
  background-color: #ff8a80;
}

.color-red-a200 {
  color: #ff5252;
}

.bgColor-red-a200 {
  background-color: #ff5252;
}

.color-red-a400 {
  color: #ff1744;
}

.bgColor-red-a400 {
  background-color: #ff1744;
}

.color-red-a700 {
  color: #d50000;
}

.bgColor-red-a700 {
  background-color: #d50000;
}

.color-pink-50 {
  color: #fce4ec;
}

.bgColor-pink-50 {
  background-color: #fce4ec;
}

.color-pink-100 {
  color: #f8bbd0;
}

.bgColor-pink-100 {
  background-color: #f8bbd0;
}

.color-pink-200 {
  color: #f48fb1;
}

.bgColor-pink-200 {
  background-color: #f48fb1;
}

.color-pink-300 {
  color: #f06292;
}

.bgColor-pink-300 {
  background-color: #f06292;
}

.color-pink-400 {
  color: #ec407a;
}

.bgColor-pink-400 {
  background-color: #ec407a;
}

.color-pink-500 {
  color: #e91e63;
}

.bgColor-pink-500 {
  background-color: #e91e63;
}

.color-pink-600 {
  color: #d81b60;
}

.bgColor-pink-600 {
  background-color: #d81b60;
}

.color-pink-700 {
  color: #c2185b;
}

.bgColor-pink-700 {
  background-color: #c2185b;
}

.color-pink-800 {
  color: #ad1457;
}

.bgColor-pink-800 {
  background-color: #ad1457;
}

.color-pink-900 {
  color: #880e4f;
}

.bgColor-pink-900 {
  background-color: #880e4f;
}

.color-pink-a100 {
  color: #ff80ab;
}

.bgColor-pink-a100 {
  background-color: #ff80ab;
}

.color-pink-a200 {
  color: #ff4081;
}

.bgColor-pink-a200 {
  background-color: #ff4081;
}

.color-pink-a400 {
  color: #f50057;
}

.bgColor-pink-a400 {
  background-color: #f50057;
}

.color-pink-a700 {
  color: #c51162;
}

.bgColor-pink-a700 {
  background-color: #c51162;
}

.color-purple-50 {
  color: #f3e5f5;
}

.bgColor-purple-50 {
  background-color: #f3e5f5;
}

.color-purple-100 {
  color: #e1bee7;
}

.bgColor-purple-100 {
  background-color: #e1bee7;
}

.color-purple-200 {
  color: #ce93d8;
}

.bgColor-purple-200 {
  background-color: #ce93d8;
}

.color-purple-300 {
  color: #ba68c8;
}

.bgColor-purple-300 {
  background-color: #ba68c8;
}

.color-purple-400 {
  color: #ab47bc;
}

.bgColor-purple-400 {
  background-color: #ab47bc;
}

.color-purple-500 {
  color: #9c27b0;
}

.bgColor-purple-500 {
  background-color: #9c27b0;
}

.color-purple-600 {
  color: #8e24aa;
}

.bgColor-purple-600 {
  background-color: #8e24aa;
}

.color-purple-700 {
  color: #7b1fa2;
}

.bgColor-purple-700 {
  background-color: #7b1fa2;
}

.color-purple-800 {
  color: #6a1b9a;
}

.bgColor-purple-800 {
  background-color: #6a1b9a;
}

.color-purple-900 {
  color: #4a148c;
}

.bgColor-purple-900 {
  background-color: #4a148c;
}

.color-purple-a100 {
  color: #ea80fc;
}

.bgColor-purple-a100 {
  background-color: #ea80fc;
}

.color-purple-a200 {
  color: #e040fb;
}

.bgColor-purple-a200 {
  background-color: #e040fb;
}

.color-purple-a400 {
  color: #d500f9;
}

.bgColor-purple-a400 {
  background-color: #d500f9;
}

.color-purple-a700 {
  color: #aa00ff;
}

.bgColor-purple-a700 {
  background-color: #aa00ff;
}

.color-deep-purple-50 {
  color: #ede7f6;
}

.bgColor-deep-purple-50 {
  background-color: #ede7f6;
}

.color-deep-purple-100 {
  color: #d1c4e9;
}

.bgColor-deep-purple-100 {
  background-color: #d1c4e9;
}

.color-deep-purple-200 {
  color: #b39ddb;
}

.bgColor-deep-purple-200 {
  background-color: #b39ddb;
}

.color-deep-purple-300 {
  color: #9575cd;
}

.bgColor-deep-purple-300 {
  background-color: #9575cd;
}

.color-deep-purple-400 {
  color: #7e57c2;
}

.bgColor-deep-purple-400 {
  background-color: #7e57c2;
}

.color-deep-purple-500 {
  color: #673ab7;
}

.bgColor-deep-purple-500 {
  background-color: #673ab7;
}

.color-deep-purple-600 {
  color: #5e35b1;
}

.bgColor-deep-purple-600 {
  background-color: #5e35b1;
}

.color-deep-purple-700 {
  color: #512da8;
}

.bgColor-deep-purple-700 {
  background-color: #512da8;
}

.color-deep-purple-800 {
  color: #4527a0;
}

.bgColor-deep-purple-800 {
  background-color: #4527a0;
}

.color-deep-purple-900 {
  color: #311b92;
}

.bgColor-deep-purple-900 {
  background-color: #311b92;
}

.color-deep-purple-a100 {
  color: #b388ff;
}

.bgColor-deep-purple-a100 {
  background-color: #b388ff;
}

.color-deep-purple-a200 {
  color: #7c4dff;
}

.bgColor-deep-purple-a200 {
  background-color: #7c4dff;
}

.color-deep-purple-a400 {
  color: #651fff;
}

.bgColor-deep-purple-a400 {
  background-color: #651fff;
}

.color-deep-purple-a700 {
  color: #6200ea;
}

.bgColor-deep-purple-a700 {
  background-color: #6200ea;
}

.color-indigo-50 {
  color: #e8eaf6;
}

.bgColor-indigo-50 {
  background-color: #e8eaf6;
}

.color-indigo-100 {
  color: #c5cae9;
}

.bgColor-indigo-100 {
  background-color: #c5cae9;
}

.color-indigo-200 {
  color: #9fa8da;
}

.bgColor-indigo-200 {
  background-color: #9fa8da;
}

.color-indigo-300 {
  color: #7986cb;
}

.bgColor-indigo-300 {
  background-color: #7986cb;
}

.color-indigo-400 {
  color: #5c6bc0;
}

.bgColor-indigo-400 {
  background-color: #5c6bc0;
}

.color-indigo-500 {
  color: #3f51b5;
}

.bgColor-indigo-500 {
  background-color: #3f51b5;
}

.color-indigo-600 {
  color: #3949ab;
}

.bgColor-indigo-600 {
  background-color: #3949ab;
}

.color-indigo-700 {
  color: #303f9f;
}

.bgColor-indigo-700 {
  background-color: #303f9f;
}

.color-indigo-800 {
  color: #283593;
}

.bgColor-indigo-800 {
  background-color: #283593;
}

.color-indigo-900 {
  color: #1a237e;
}

.bgColor-indigo-900 {
  background-color: #1a237e;
}

.color-indigo-a100 {
  color: #8c9eff;
}

.bgColor-indigo-a100 {
  background-color: #8c9eff;
}

.color-indigo-a200 {
  color: #536dfe;
}

.bgColor-indigo-a200 {
  background-color: #536dfe;
}

.color-indigo-a400 {
  color: #3d5afe;
}

.bgColor-indigo-a400 {
  background-color: #3d5afe;
}

.color-indigo-a700 {
  color: #304ffe;
}

.bgColor-indigo-a700 {
  background-color: #304ffe;
}

.color-blue-50 {
  color: #e3f2fd;
}

.bgColor-blue-50 {
  background-color: #e3f2fd;
}

.color-blue-100 {
  color: #bbdefb;
}

.bgColor-blue-100 {
  background-color: #bbdefb;
}

.color-blue-200 {
  color: #90caf9;
}

.bgColor-blue-200 {
  background-color: #90caf9;
}

.color-blue-300 {
  color: #64b5f6;
}

.bgColor-blue-300 {
  background-color: #64b5f6;
}

.color-blue-400 {
  color: #42a5f5;
}

.bgColor-blue-400 {
  background-color: #42a5f5;
}

.color-blue-500 {
  color: #2196f3;
}

.bgColor-blue-500 {
  background-color: #2196f3;
}

.color-blue-600 {
  color: #1e88e5;
}

.bgColor-blue-600 {
  background-color: #1e88e5;
}

.color-blue-700 {
  color: #1976d2;
}

.bgColor-blue-700 {
  background-color: #1976d2;
}

.color-blue-800 {
  color: #1565c0;
}

.bgColor-blue-800 {
  background-color: #1565c0;
}

.color-blue-900 {
  color: #0d47a1;
}

.bgColor-blue-900 {
  background-color: #0d47a1;
}

.color-blue-a100 {
  color: #82b1ff;
}

.bgColor-blue-a100 {
  background-color: #82b1ff;
}

.color-blue-a200 {
  color: #448aff;
}

.bgColor-blue-a200 {
  background-color: #448aff;
}

.color-blue-a400 {
  color: #2979ff;
}

.bgColor-blue-a400 {
  background-color: #2979ff;
}

.color-blue-a700 {
  color: #2962ff;
}

.bgColor-blue-a700 {
  background-color: #2962ff;
}

.color-light-blue-50 {
  color: #e1f5fe;
}

.bgColor-light-blue-50 {
  background-color: #e1f5fe;
}

.color-light-blue-100 {
  color: #b3e5fc;
}

.bgColor-light-blue-100 {
  background-color: #b3e5fc;
}

.color-light-blue-200 {
  color: #81d4fa;
}

.bgColor-light-blue-200 {
  background-color: #81d4fa;
}

.color-light-blue-300 {
  color: #4fc3f7;
}

.bgColor-light-blue-300 {
  background-color: #4fc3f7;
}

.color-light-blue-400 {
  color: #29b6f6;
}

.bgColor-light-blue-400 {
  background-color: #29b6f6;
}

.color-light-blue-500 {
  color: #03a9f4;
}

.bgColor-light-blue-500 {
  background-color: #03a9f4;
}

.color-light-blue-600 {
  color: #039be5;
}

.bgColor-light-blue-600 {
  background-color: #039be5;
}

.color-light-blue-700 {
  color: #0288d1;
}

.bgColor-light-blue-700 {
  background-color: #0288d1;
}

.color-light-blue-800 {
  color: #0277bd;
}

.bgColor-light-blue-800 {
  background-color: #0277bd;
}

.color-light-blue-900 {
  color: #01579b;
}

.bgColor-light-blue-900 {
  background-color: #01579b;
}

.color-light-blue-a100 {
  color: #80d8ff;
}

.bgColor-light-blue-a100 {
  background-color: #80d8ff;
}

.color-light-blue-a200 {
  color: #40c4ff;
}

.bgColor-light-blue-a200 {
  background-color: #40c4ff;
}

.color-light-blue-a400 {
  color: #00b0ff;
}

.bgColor-light-blue-a400 {
  background-color: #00b0ff;
}

.color-light-blue-a700 {
  color: #0091ea;
}

.bgColor-light-blue-a700 {
  background-color: #0091ea;
}

.color-cyan-50 {
  color: #e0f7fa;
}

.bgColor-cyan-50 {
  background-color: #e0f7fa;
}

.color-cyan-100 {
  color: #b2ebf2;
}

.bgColor-cyan-100 {
  background-color: #b2ebf2;
}

.color-cyan-200 {
  color: #80deea;
}

.bgColor-cyan-200 {
  background-color: #80deea;
}

.color-cyan-300 {
  color: #4dd0e1;
}

.bgColor-cyan-300 {
  background-color: #4dd0e1;
}

.color-cyan-400 {
  color: #26c6da;
}

.bgColor-cyan-400 {
  background-color: #26c6da;
}

.color-cyan-500 {
  color: #00bcd4;
}

.bgColor-cyan-500 {
  background-color: #00bcd4;
}

.color-cyan-600 {
  color: #00acc1;
}

.bgColor-cyan-600 {
  background-color: #00acc1;
}

.color-cyan-700 {
  color: #0097a7;
}

.bgColor-cyan-700 {
  background-color: #0097a7;
}

.color-cyan-800 {
  color: #00838f;
}

.bgColor-cyan-800 {
  background-color: #00838f;
}

.color-cyan-900 {
  color: #006064;
}

.bgColor-cyan-900 {
  background-color: #006064;
}

.color-cyan-a100 {
  color: #84ffff;
}

.bgColor-cyan-a100 {
  background-color: #84ffff;
}

.color-cyan-a200 {
  color: #18ffff;
}

.bgColor-cyan-a200 {
  background-color: #18ffff;
}

.color-cyan-a400 {
  color: #00e5ff;
}

.bgColor-cyan-a400 {
  background-color: #00e5ff;
}

.color-cyan-a700 {
  color: #00b8d4;
}

.bgColor-cyan-a700 {
  background-color: #00b8d4;
}

.color-teal-50 {
  color: #e0f2f1;
}

.bgColor-teal-50 {
  background-color: #e0f2f1;
}

.color-teal-100 {
  color: #b2dfdb;
}

.bgColor-teal-100 {
  background-color: #b2dfdb;
}

.color-teal-200 {
  color: #80cbc4;
}

.bgColor-teal-200 {
  background-color: #80cbc4;
}

.color-teal-300 {
  color: #4db6ac;
}

.bgColor-teal-300 {
  background-color: #4db6ac;
}

.color-teal-400 {
  color: #26a69a;
}

.bgColor-teal-400 {
  background-color: #26a69a;
}

.color-teal-500 {
  color: #009688;
}

.bgColor-teal-500 {
  background-color: #009688;
}

.color-teal-600 {
  color: #00897b;
}

.bgColor-teal-600 {
  background-color: #00897b;
}

.color-teal-700 {
  color: #00796b;
}

.bgColor-teal-700 {
  background-color: #00796b;
}

.color-teal-800 {
  color: #00695c;
}

.bgColor-teal-800 {
  background-color: #00695c;
}

.color-teal-900 {
  color: #004d40;
}

.bgColor-teal-900 {
  background-color: #004d40;
}

.color-teal-a100 {
  color: #a7ffeb;
}

.bgColor-teal-a100 {
  background-color: #a7ffeb;
}

.color-teal-a200 {
  color: #64ffda;
}

.bgColor-teal-a200 {
  background-color: #64ffda;
}

.color-teal-a400 {
  color: #1de9b6;
}

.bgColor-teal-a400 {
  background-color: #1de9b6;
}

.color-teal-a700 {
  color: #00bfa5;
}

.bgColor-teal-a700 {
  background-color: #00bfa5;
}

.color-green-50 {
  color: #e8f5e9;
}

.bgColor-green-50 {
  background-color: #e8f5e9;
}

.color-green-100 {
  color: #c8e6c9;
}

.bgColor-green-100 {
  background-color: #c8e6c9;
}

.color-green-200 {
  color: #a5d6a7;
}

.bgColor-green-200 {
  background-color: #a5d6a7;
}

.color-green-300 {
  color: #81c784;
}

.bgColor-green-300 {
  background-color: #81c784;
}

.color-green-400 {
  color: #66bb6a;
}

.bgColor-green-400 {
  background-color: #66bb6a;
}

.color-green-500 {
  color: #4caf50;
}

.bgColor-green-500 {
  background-color: #4caf50;
}

.color-green-600 {
  color: #43a047;
}

.bgColor-green-600 {
  background-color: #43a047;
}

.color-green-700 {
  color: #388e3c;
}

.bgColor-green-700 {
  background-color: #388e3c;
}

.color-green-800 {
  color: #2e7d32;
}

.bgColor-green-800 {
  background-color: #2e7d32;
}

.color-green-900 {
  color: #1b5e20;
}

.bgColor-green-900 {
  background-color: #1b5e20;
}

.color-green-a100 {
  color: #b9f6ca;
}

.bgColor-green-a100 {
  background-color: #b9f6ca;
}

.color-green-a200 {
  color: #69f0ae;
}

.bgColor-green-a200 {
  background-color: #69f0ae;
}

.color-green-a400 {
  color: #00e676;
}

.bgColor-green-a400 {
  background-color: #00e676;
}

.color-green-a700 {
  color: #00c853;
}

.bgColor-green-a700 {
  background-color: #00c853;
}

.color-light-green-50 {
  color: #f1f8e9;
}

.bgColor-light-green-50 {
  background-color: #f1f8e9;
}

.color-light-green-100 {
  color: #dcedc8;
}

.bgColor-light-green-100 {
  background-color: #dcedc8;
}

.color-light-green-200 {
  color: #c5e1a5;
}

.bgColor-light-green-200 {
  background-color: #c5e1a5;
}

.color-light-green-300 {
  color: #aed581;
}

.bgColor-light-green-300 {
  background-color: #aed581;
}

.color-light-green-400 {
  color: #9ccc65;
}

.bgColor-light-green-400 {
  background-color: #9ccc65;
}

.color-light-green-500 {
  color: #8bc34a;
}

.bgColor-light-green-500 {
  background-color: #8bc34a;
}

.color-light-green-600 {
  color: #7cb342;
}

.bgColor-light-green-600 {
  background-color: #7cb342;
}

.color-light-green-700 {
  color: #689f38;
}

.bgColor-light-green-700 {
  background-color: #689f38;
}

.color-light-green-800 {
  color: #558b2f;
}

.bgColor-light-green-800 {
  background-color: #558b2f;
}

.color-light-green-900 {
  color: #33691e;
}

.bgColor-light-green-900 {
  background-color: #33691e;
}

.color-light-green-a100 {
  color: #ccff90;
}

.bgColor-light-green-a100 {
  background-color: #ccff90;
}

.color-light-green-a200 {
  color: #b2ff59;
}

.bgColor-light-green-a200 {
  background-color: #b2ff59;
}

.color-light-green-a400 {
  color: #76ff03;
}

.bgColor-light-green-a400 {
  background-color: #76ff03;
}

.color-light-green-a700 {
  color: #64dd17;
}

.bgColor-light-green-a700 {
  background-color: #64dd17;
}

.color-lime-50 {
  color: #f9fbe7;
}

.bgColor-lime-50 {
  background-color: #f9fbe7;
}

.color-lime-100 {
  color: #f0f4c3;
}

.bgColor-lime-100 {
  background-color: #f0f4c3;
}

.color-lime-200 {
  color: #e6ee9c;
}

.bgColor-lime-200 {
  background-color: #e6ee9c;
}

.color-lime-300 {
  color: #dce775;
}

.bgColor-lime-300 {
  background-color: #dce775;
}

.color-lime-400 {
  color: #d4e157;
}

.bgColor-lime-400 {
  background-color: #d4e157;
}

.color-lime-500 {
  color: #cddc39;
}

.bgColor-lime-500 {
  background-color: #cddc39;
}

.color-lime-600 {
  color: #c0ca33;
}

.bgColor-lime-600 {
  background-color: #c0ca33;
}

.color-lime-700 {
  color: #afb42b;
}

.bgColor-lime-700 {
  background-color: #afb42b;
}

.color-lime-800 {
  color: #9e9d24;
}

.bgColor-lime-800 {
  background-color: #9e9d24;
}

.color-lime-900 {
  color: #827717;
}

.bgColor-lime-900 {
  background-color: #827717;
}

.color-lime-a100 {
  color: #f4ff81;
}

.bgColor-lime-a100 {
  background-color: #f4ff81;
}

.color-lime-a200 {
  color: #eeff41;
}

.bgColor-lime-a200 {
  background-color: #eeff41;
}

.color-lime-a400 {
  color: #c6ff00;
}

.bgColor-lime-a400 {
  background-color: #c6ff00;
}

.color-lime-a700 {
  color: #aeea00;
}

.bgColor-lime-a700 {
  background-color: #aeea00;
}

.color-yellow-50 {
  color: #fffde7;
}

.bgColor-yellow-50 {
  background-color: #fffde7;
}

.color-yellow-100 {
  color: #fff9c4;
}

.bgColor-yellow-100 {
  background-color: #fff9c4;
}

.color-yellow-200 {
  color: #fff59d;
}

.bgColor-yellow-200 {
  background-color: #fff59d;
}

.color-yellow-300 {
  color: #fff176;
}

.bgColor-yellow-300 {
  background-color: #fff176;
}

.color-yellow-400 {
  color: #ffee58;
}

.bgColor-yellow-400 {
  background-color: #ffee58;
}

.color-yellow-500 {
  color: #ffeb3b;
}

.bgColor-yellow-500 {
  background-color: #ffeb3b;
}

.color-yellow-600 {
  color: #fdd835;
}

.bgColor-yellow-600 {
  background-color: #fdd835;
}

.color-yellow-700 {
  color: #fbc02d;
}

.bgColor-yellow-700 {
  background-color: #fbc02d;
}

.color-yellow-800 {
  color: #f9a825;
}

.bgColor-yellow-800 {
  background-color: #f9a825;
}

.color-yellow-900 {
  color: #f57f17;
}

.bgColor-yellow-900 {
  background-color: #f57f17;
}

.color-yellow-a100 {
  color: #ffff8d;
}

.bgColor-yellow-a100 {
  background-color: #ffff8d;
}

.color-yellow-a200 {
  color: #ffff00;
}

.bgColor-yellow-a200 {
  background-color: #ffff00;
}

.color-yellow-a400 {
  color: #ffea00;
}

.bgColor-yellow-a400 {
  background-color: #ffea00;
}

.color-yellow-a700 {
  color: #ffd600;
}

.bgColor-yellow-a700 {
  background-color: #ffd600;
}

.color-amber-50 {
  color: #fff8e1;
}

.bgColor-amber-50 {
  background-color: #fff8e1;
}

.color-amber-100 {
  color: #ffecb3;
}

.bgColor-amber-100 {
  background-color: #ffecb3;
}

.color-amber-200 {
  color: #ffe082;
}

.bgColor-amber-200 {
  background-color: #ffe082;
}

.color-amber-300 {
  color: #ffd54f;
}

.bgColor-amber-300 {
  background-color: #ffd54f;
}

.color-amber-400 {
  color: #ffca28;
}

.bgColor-amber-400 {
  background-color: #ffca28;
}

.color-amber-500 {
  color: #ffc107;
}

.bgColor-amber-500 {
  background-color: #ffc107;
}

.color-amber-600 {
  color: #ffb300;
}

.bgColor-amber-600 {
  background-color: #ffb300;
}

.color-amber-700 {
  color: #ffa000;
}

.bgColor-amber-700 {
  background-color: #ffa000;
}

.color-amber-800 {
  color: #ff8f00;
}

.bgColor-amber-800 {
  background-color: #ff8f00;
}

.color-amber-900 {
  color: #ff6f00;
}

.bgColor-amber-900 {
  background-color: #ff6f00;
}

.color-amber-a100 {
  color: #ffe57f;
}

.bgColor-amber-a100 {
  background-color: #ffe57f;
}

.color-amber-a200 {
  color: #ffd740;
}

.bgColor-amber-a200 {
  background-color: #ffd740;
}

.color-amber-a400 {
  color: #ffc400;
}

.bgColor-amber-a400 {
  background-color: #ffc400;
}

.color-amber-a700 {
  color: #ffab00;
}

.bgColor-amber-a700 {
  background-color: #ffab00;
}

.color-orange-50 {
  color: #fff3e0;
}

.bgColor-orange-50 {
  background-color: #fff3e0;
}

.color-orange-100 {
  color: #ffe0b2;
}

.bgColor-orange-100 {
  background-color: #ffe0b2;
}

.color-orange-200 {
  color: #ffcc80;
}

.bgColor-orange-200 {
  background-color: #ffcc80;
}

.color-orange-300 {
  color: #ffb74d;
}

.bgColor-orange-300 {
  background-color: #ffb74d;
}

.color-orange-400 {
  color: #ffa726;
}

.bgColor-orange-400 {
  background-color: #ffa726;
}

.color-orange-500 {
  color: #ff9800;
}

.bgColor-orange-500 {
  background-color: #ff9800;
}

.color-orange-600 {
  color: #fb8c00;
}

.bgColor-orange-600 {
  background-color: #fb8c00;
}

.color-orange-700 {
  color: #f57c00;
}

.bgColor-orange-700 {
  background-color: #f57c00;
}

.color-orange-800 {
  color: #ef6c00;
}

.bgColor-orange-800 {
  background-color: #ef6c00;
}

.color-orange-900 {
  color: #e65100;
}

.bgColor-orange-900 {
  background-color: #e65100;
}

.color-orange-a100 {
  color: #ffd180;
}

.bgColor-orange-a100 {
  background-color: #ffd180;
}

.color-orange-a200 {
  color: #ffab40;
}

.bgColor-orange-a200 {
  background-color: #ffab40;
}

.color-orange-a400 {
  color: #ff9100;
}

.bgColor-orange-a400 {
  background-color: #ff9100;
}

.color-orange-a700 {
  color: #ff6d00;
}

.bgColor-orange-a700 {
  background-color: #ff6d00;
}

.color-deep-orange-50 {
  color: #fbe9e7;
}

.bgColor-deep-orange-50 {
  background-color: #fbe9e7;
}

.color-deep-orange-100 {
  color: #ffccbc;
}

.bgColor-deep-orange-100 {
  background-color: #ffccbc;
}

.color-deep-orange-200 {
  color: #ffab91;
}

.bgColor-deep-orange-200 {
  background-color: #ffab91;
}

.color-deep-orange-300 {
  color: #ff8a65;
}

.bgColor-deep-orange-300 {
  background-color: #ff8a65;
}

.color-deep-orange-400 {
  color: #ff7043;
}

.bgColor-deep-orange-400 {
  background-color: #ff7043;
}

.color-deep-orange-500 {
  color: #ff5722;
}

.bgColor-deep-orange-500 {
  background-color: #ff5722;
}

.color-deep-orange-600 {
  color: #f4511e;
}

.bgColor-deep-orange-600 {
  background-color: #f4511e;
}

.color-deep-orange-700 {
  color: #e64a19;
}

.bgColor-deep-orange-700 {
  background-color: #e64a19;
}

.color-deep-orange-800 {
  color: #d84315;
}

.bgColor-deep-orange-800 {
  background-color: #d84315;
}

.color-deep-orange-900 {
  color: #bf360c;
}

.bgColor-deep-orange-900 {
  background-color: #bf360c;
}

.color-deep-orange-a100 {
  color: #ff9e80;
}

.bgColor-deep-orange-a100 {
  background-color: #ff9e80;
}

.color-deep-orange-a200 {
  color: #ff6e40;
}

.bgColor-deep-orange-a200 {
  background-color: #ff6e40;
}

.color-deep-orange-a400 {
  color: #ff3d00;
}

.bgColor-deep-orange-a400 {
  background-color: #ff3d00;
}

.color-deep-orange-a700 {
  color: #dd2c00;
}

.bgColor-deep-orange-a700 {
  background-color: #dd2c00;
}

.color-brown-50 {
  color: #efebe9;
}

.bgColor-brown-50 {
  background-color: #efebe9;
}

.color-brown-100 {
  color: #d7ccc8;
}

.bgColor-brown-100 {
  background-color: #d7ccc8;
}

.color-brown-200 {
  color: #bcaaa4;
}

.bgColor-brown-200 {
  background-color: #bcaaa4;
}

.color-brown-300 {
  color: #a1887f;
}

.bgColor-brown-300 {
  background-color: #a1887f;
}

.color-brown-400 {
  color: #8d6e63;
}

.bgColor-brown-400 {
  background-color: #8d6e63;
}

.color-brown-500 {
  color: #795548;
}

.bgColor-brown-500 {
  background-color: #795548;
}

.color-brown-600 {
  color: #6d4c41;
}

.bgColor-brown-600 {
  background-color: #6d4c41;
}

.color-brown-700 {
  color: #5d4037;
}

.bgColor-brown-700 {
  background-color: #5d4037;
}

.color-brown-800 {
  color: #4e342e;
}

.bgColor-brown-800 {
  background-color: #4e342e;
}

.color-brown-900 {
  color: #3e2723;
}

.bgColor-brown-900 {
  background-color: #3e2723;
}

.color-grey-50 {
  color: #fafafa;
}

.bgColor-grey-50 {
  background-color: #fafafa;
}

.color-grey-100 {
  color: #f5f5f5;
}

.bgColor-grey-100 {
  background-color: #f5f5f5;
}

.color-grey-200 {
  color: #eeeeee;
}

.bgColor-grey-200 {
  background-color: #eeeeee;
}

.color-grey-300 {
  color: #e0e0e0;
}

.bgColor-grey-300 {
  background-color: #e0e0e0;
}

.color-grey-400 {
  color: #bdbdbd;
}

.bgColor-grey-400 {
  background-color: #bdbdbd;
}

.color-grey-500 {
  color: #9e9e9e;
}

.bgColor-grey-500 {
  background-color: #9e9e9e;
}

.color-grey-600 {
  color: #757575;
}

.bgColor-grey-600 {
  background-color: #757575;
}

.color-grey-700 {
  color: #616161;
}

.bgColor-grey-700 {
  background-color: #616161;
}

.color-grey-800 {
  color: #424242;
}

.bgColor-grey-800 {
  background-color: #424242;
}

.color-grey-900 {
  color: #212121;
}

.bgColor-grey-900 {
  background-color: #212121;
}

.color-blue-grey-50 {
  color: #eceff1;
}

.bgColor-blue-grey-50 {
  background-color: #eceff1;
}

.color-blue-grey-100 {
  color: #cfd8dc;
}

.bgColor-blue-grey-100 {
  background-color: #cfd8dc;
}

.color-blue-grey-200 {
  color: #b0bec5;
}

.bgColor-blue-grey-200 {
  background-color: #b0bec5;
}

.color-blue-grey-300 {
  color: #90a4ae;
}

.bgColor-blue-grey-300 {
  background-color: #90a4ae;
}

.color-blue-grey-400 {
  color: #78909c;
}

.bgColor-blue-grey-400 {
  background-color: #78909c;
}

.color-blue-grey-500 {
  color: #607d8b;
}

.bgColor-blue-grey-500 {
  background-color: #607d8b;
}

.color-blue-grey-600 {
  color: #546e7a;
}

.bgColor-blue-grey-600 {
  background-color: #546e7a;
}

.color-blue-grey-700 {
  color: #455a64;
}

.bgColor-blue-grey-700 {
  background-color: #455a64;
}

.color-blue-grey-800 {
  color: #37474f;
}

.bgColor-blue-grey-800 {
  background-color: #37474f;
}

.color-blue-grey-900 {
  color: #263238;
}

.bgColor-blue-grey-900 {
  background-color: #263238;
}

/*----------------------------------------
	Web Font Icon
----------------------------------------*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format("woff2");
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: .6rem;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
  color: white;
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/*----------------------------------------
	clearfix
----------------------------------------*/
.breadcrumb nav ol:after, .container:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}

/*----------------------------------------
	reset
----------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, dialog, figure, footer, header, hgroup, main, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: #212121;
  vertical-align: baseline;
}

header, footer, article, section, aside, hgroup, nav, menu, figure, figcaption, time {
  display: block;
}

li {
  list-style: none;
}

ol li {
  list-style: decimal;
}

img {
  border: 0;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

hr {
  margin: 1em 0;
  padding: 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
}

input, select {
  vertical-align: middle;
}

input, textarea {
  margin: 0;
  padding: 0;
}

.clearfix {
  min-height: 1px;
  _height: 1%;
}
.clearfix:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}

/* width */
.w1 {
  width: 1%;
}

.w2 {
  width: 2%;
}

.w3 {
  width: 3%;
}

.w4 {
  width: 4%;
}

.w5 {
  width: 5%;
}

.w6 {
  width: 6%;
}

.w7 {
  width: 7%;
}

.w8 {
  width: 8%;
}

.w9 {
  width: 9%;
}

.w10 {
  width: 10%;
}

.w11 {
  width: 11%;
}

.w12 {
  width: 12%;
}

.w13 {
  width: 13%;
}

.w14 {
  width: 14%;
}

.w15 {
  width: 15%;
}

.w16 {
  width: 16%;
}

.w17 {
  width: 17%;
}

.w18 {
  width: 18%;
}

.w19 {
  width: 19%;
}

.w20 {
  width: 20%;
}

.w21 {
  width: 21%;
}

.w22 {
  width: 22%;
}

.w23 {
  width: 23%;
}

.w24 {
  width: 24%;
}

.w25 {
  width: 25%;
}

.w26 {
  width: 26%;
}

.w27 {
  width: 27%;
}

.w28 {
  width: 28%;
}

.w29 {
  width: 29%;
}

.w30 {
  width: 30%;
}

.w31 {
  width: 31%;
}

.w32 {
  width: 32%;
}

.w33 {
  width: 33%;
}

.w34 {
  width: 34%;
}

.w35 {
  width: 35%;
}

.w36 {
  width: 36%;
}

.w37 {
  width: 37%;
}

.w38 {
  width: 38%;
}

.w39 {
  width: 39%;
}

.w40 {
  width: 40%;
}

.w41 {
  width: 41%;
}

.w42 {
  width: 42%;
}

.w43 {
  width: 43%;
}

.w44 {
  width: 44%;
}

.w45 {
  width: 45%;
}

.w46 {
  width: 46%;
}

.w47 {
  width: 47%;
}

.w48 {
  width: 48%;
}

.w49 {
  width: 49%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.w65 {
  width: 65%;
}

.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.w85 {
  width: 85%;
}

.w90 {
  width: 90%;
}

.w95 {
  width: 95%;
}

.w100 {
  width: 100%;
}

/* align */
.aLeft {
  text-align: left !important;
}

.aRight {
  text-align: right !important;
}

.aCenter {
  text-align: center !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

.vBottom {
  vertical-align: bottom !important;
}

/* float */
.fl {
  float: left;
}
@media only screen and (min-width: 640px) and (max-width: 768px) {
  .fl {
    float: none;
  }
}
@media only screen and (max-width: 640px) {
  .fl {
    float: none;
  }
}

.fr {
  float: right;
}
@media only screen and (min-width: 640px) and (max-width: 768px) {
  .fr {
    float: none;
  }
}
@media only screen and (max-width: 640px) {
  .fr {
    float: none;
  }
}

/* visivle style */
@media only screen and (max-width: 640px) {
  .spNone {
    display: none !important;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .tabNone {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .pcNone {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .spVisible {
    display: none;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .spVisible {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .tabVisible {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .tabVisible {
    display: none;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .pcVisible {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .pcVisible {
    display: none;
  }
}

.fs10 {
  font-size: 10px;
  font-size: 0.625rem;
}

.fs10-400 {
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
}

.fs10-500 {
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 500;
}

.fs10-700 {
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 700;
}

.fs10-900 {
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 900;
}

.fs11 {
  font-size: 11px;
  font-size: 0.6875rem;
}

.fs11-400 {
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 400;
}

.fs11-500 {
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 500;
}

.fs11-700 {
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 700;
}

.fs11-900 {
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 900;
}

.fs12 {
  font-size: 12px;
  font-size: 0.75rem;
}

.fs12-400 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
}

.fs12-500 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 500;
}

.fs12-700 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
}

.fs12-900 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 900;
}

.fs13 {
  font-size: 13px;
  font-size: 0.8125rem;
}

.fs13-400 {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
}

.fs13-500 {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 500;
}

.fs13-700 {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 700;
}

.fs13-900 {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 900;
}

.fs14 {
  font-size: 14px;
  font-size: 0.875rem;
}

.fs14-400 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
}

.fs14-500 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
}

.fs14-700 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
}

.fs14-900 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 900;
}

.fs15 {
  font-size: 15px;
  font-size: 0.9375rem;
}

.fs15-400 {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 400;
}

.fs15-500 {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 500;
}

.fs15-700 {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
}

.fs15-900 {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 900;
}

.fs16 {
  font-size: 16px;
  font-size: 1rem;
}

.fs16-400 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
}

.fs16-500 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
}

.fs16-700 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}

.fs16-900 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 900;
}

.fs17 {
  font-size: 17px;
  font-size: 1.0625rem;
}

.fs17-400 {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 400;
}

.fs17-500 {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 500;
}

.fs17-700 {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 700;
}

.fs17-900 {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 900;
}

.fs18 {
  font-size: 18px;
  font-size: 1.125rem;
}

.fs18-400 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
}

.fs18-500 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
}

.fs18-700 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
}

.fs18-900 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 900;
}

.fs19 {
  font-size: 19px;
  font-size: 1.1875rem;
}

.fs19-400 {
  font-size: 19px;
  font-size: 1.1875rem;
  font-weight: 400;
}

.fs19-500 {
  font-size: 19px;
  font-size: 1.1875rem;
  font-weight: 500;
}

.fs19-700 {
  font-size: 19px;
  font-size: 1.1875rem;
  font-weight: 700;
}

.fs19-900 {
  font-size: 19px;
  font-size: 1.1875rem;
  font-weight: 900;
}

.fs20 {
  font-size: 20px;
  font-size: 1.25rem;
}

.fs20-400 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
}

.fs20-500 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
}

.fs20-700 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}

.fs20-900 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 900;
}

.fs21 {
  font-size: 21px;
  font-size: 1.3125rem;
}

.fs21-400 {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 400;
}

.fs21-500 {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 500;
}

.fs21-700 {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 700;
}

.fs21-900 {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 900;
}

.fs22 {
  font-size: 22px;
  font-size: 1.375rem;
}

.fs22-400 {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 400;
}

.fs22-500 {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 500;
}

.fs22-700 {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
}

.fs22-900 {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 900;
}

.fs23 {
  font-size: 23px;
  font-size: 1.4375rem;
}

.fs23-400 {
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 400;
}

.fs23-500 {
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 500;
}

.fs23-700 {
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 700;
}

.fs23-900 {
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 900;
}

.fs24 {
  font-size: 24px;
  font-size: 1.5rem;
}

.fs24-400 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400;
}

.fs24-500 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 500;
}

.fs24-700 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
}

.fs24-900 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 900;
}

.fs25 {
  font-size: 25px;
  font-size: 1.5625rem;
}

.fs25-400 {
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 400;
}

.fs25-500 {
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 500;
}

.fs25-700 {
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 700;
}

.fs25-900 {
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 900;
}

.fs26 {
  font-size: 26px;
  font-size: 1.625rem;
}

.fs26-400 {
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 400;
}

.fs26-500 {
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 500;
}

.fs26-700 {
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 700;
}

.fs26-900 {
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 900;
}

.fs27 {
  font-size: 27px;
  font-size: 1.6875rem;
}

.fs27-400 {
  font-size: 27px;
  font-size: 1.6875rem;
  font-weight: 400;
}

.fs27-500 {
  font-size: 27px;
  font-size: 1.6875rem;
  font-weight: 500;
}

.fs27-700 {
  font-size: 27px;
  font-size: 1.6875rem;
  font-weight: 700;
}

.fs27-900 {
  font-size: 27px;
  font-size: 1.6875rem;
  font-weight: 900;
}

.fs28 {
  font-size: 28px;
  font-size: 1.75rem;
}

.fs28-400 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 400;
}

.fs28-500 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 500;
}

.fs28-700 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
}

.fs28-900 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 900;
}

.fs29 {
  font-size: 29px;
  font-size: 1.8125rem;
}

.fs29-400 {
  font-size: 29px;
  font-size: 1.8125rem;
  font-weight: 400;
}

.fs29-500 {
  font-size: 29px;
  font-size: 1.8125rem;
  font-weight: 500;
}

.fs29-700 {
  font-size: 29px;
  font-size: 1.8125rem;
  font-weight: 700;
}

.fs29-900 {
  font-size: 29px;
  font-size: 1.8125rem;
  font-weight: 900;
}

.fs30 {
  font-size: 30px;
  font-size: 1.875rem;
}

.fs30-400 {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 400;
}

.fs30-500 {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 500;
}

.fs30-700 {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
}

.fs30-900 {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 900;
}

.fs31 {
  font-size: 31px;
  font-size: 1.9375rem;
}

.fs31-400 {
  font-size: 31px;
  font-size: 1.9375rem;
  font-weight: 400;
}

.fs31-500 {
  font-size: 31px;
  font-size: 1.9375rem;
  font-weight: 500;
}

.fs31-700 {
  font-size: 31px;
  font-size: 1.9375rem;
  font-weight: 700;
}

.fs31-900 {
  font-size: 31px;
  font-size: 1.9375rem;
  font-weight: 900;
}

.fs32 {
  font-size: 32px;
  font-size: 2rem;
}

.fs32-400 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 400;
}

.fs32-500 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 500;
}

.fs32-700 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 700;
}

.fs32-900 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 900;
}

/*----------------------------------------
	Magnific Popup CSS
----------------------------------------*/
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #CCC;
}
.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader, .mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
}
.mfp-arrow:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}
.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}
.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
  * Remove all paddings around the image on small screen
  */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.btn {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  color: #212121;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.baseTable {
  width: 100%;
  background: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.baseTable th, .baseTable td {
  padding: 10px;
  line-height: 120%;
  border: 1px solid #e0e0e0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
@media only screen and (max-width: 640px) {
  .baseTable th, .baseTable td {
    padding: 6px 8px;
  }
}
.baseTable td {
  vertical-align: middle;
}
.baseTable th {
  background: #fafafa;
  font-weight: 500;
  text-align: center;
}
.baseTable-sp tr {
  display: block;
  width: 100%;
}
.baseTable-sp th, .baseTable-sp td {
  margin-top: -1px;
  display: block;
  width: 100%;
}

input, select {
  padding: 2px 4px;
  height: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  vertical-align: top;
}
input:-moz-placeholder, select:-moz-placeholder {
  color: #bdbdbd;
  font-size: 12px;
  font-size: 0.75rem;
}
input::-moz-placeholder, select::-moz-placeholder {
  color: #bdbdbd;
  font-size: 12px;
  font-size: 0.75rem;
}
input:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #bdbdbd;
  font-size: 12px;
  font-size: 0.75rem;
}
input::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #bdbdbd;
  font-size: 12px;
  font-size: 0.75rem;
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  input, select {
    -webkit-appearance: none;
  }
}
@media only screen and (max-width: 640px) {
  input, select {
    -webkit-appearance: none;
  }
}
input:focus, select:focus {
  outline: 0;
  background: rgba(224, 247, 250, 0.3);
}

input[type='search'] {
  -webkit-appearance: none;
}

input[type='time'] {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

label {
  cursor: pointer;
}

textarea {
  padding: 4px 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
}
textarea:-moz-placeholder {
  color: #bdbdbd;
}
textarea::-moz-placeholder {
  color: #bdbdbd;
}
textarea:-ms-input-placeholder {
  color: #bdbdbd;
}
textarea::-webkit-input-placeholder {
  color: #bdbdbd;
}
textarea:focus {
  outline: 0;
  background: rgba(224, 247, 250, 0.3);
}

.checkboxInput {
  display: none;
}
.checkboxInput:checked + .checkboxInput-style {
  color: #00acc1;
}
.checkboxInput:checked + .checkboxInput-style:after {
  content: "";
  width: 6px;
  height: 12px;
  display: block;
  border-bottom: 4px solid #00acc1;
  border-right: 4px solid #00acc1;
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  position: absolute;
  top: -3px;
  left: 5px;
  cursor: pointer;
}

.checkboxInput-style {
  padding-left: 22px;
  position: relative;
  white-space: nowrap;
  top: -1px;
}
.checkboxInput-style:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: #eceff1;
  -moz-box-shadow: 0 0 0 2px white inset;
  -webkit-box-shadow: 0 0 0 2px white inset;
  box-shadow: 0 0 0 2px white inset;
  border: 1px solid #b0bec5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 0;
  cursor: pointer;
}
.checkboxInput-style-noText {
  padding-left: 15px;
}

.radioInput {
  display: none;
}
.radioInput:checked + .radioInput-style {
  color: #00acc1;
}
.radioInput:checked + .radioInput-style:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: #00acc1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 3px;
  cursor: pointer;
}

.radioInput-style {
  margin-right: 20px;
  padding-left: 22px;
  position: relative;
  white-space: nowrap;
}
.radioInput-style:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: #eceff1;
  -moz-box-shadow: 0 0 0 2px white inset;
  -webkit-box-shadow: 0 0 0 2px white inset;
  box-shadow: 0 0 0 2px white inset;
  border: 1px solid #b0bec5;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 0;
  cursor: pointer;
}

.btnContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}

.pagetop {
  position: fixed;
  bottom: 80px;
  right: 20px;
}
.pagetop a {
  width: 60px;
  height: 60px;
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #000000;
  text-align: center;
  text-decoration: none;
  position: relative;
}
.pagetop a:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.pagetop a:before {
  content: '';
  width: 60px;
  height: 60px;
  display: block;
  background: url(../images/common/arrow_btn.png) no-repeat center;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
}

/* breadcrumb source

// RDF
<aside class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
	<nav class="container">
		<span typeof="v:Breadcrumb"><i class="icon-house158"></i><a href="/" title="ホームへ" rel="v:url" property="v:title" class="link">ホーム</a></span>
		<span typeof="v:Breadcrumb"><a href="/about/" title="ページタイトル" rel="v:url" property="v:title" class="current">ページタイトル</a></span>
	</nav>
</aside>


// MICRODATA
<aside class="breadcrumb">
	<nav class="container">
		<ol itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="/"><span itemprop="name">ホーム</span></a>
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="/about/" class="current"><span itemprop="name">ページタイトル</span></a>
			</li>
		</ol>
	</nav>
</aside>
*/
/* breadcrumb RDF */
/*
.breadcrumb {
	margin-bottom:30px;
	width:100%;
	height:20px;
	
	nav {
		margin:0 auto;
		text-align:right;
		
		span {
			line-height:20px;
			@include fs(12);
			color:#666;
			
			&:first-child {
				&:before {
					display:none;
				}
				
				i {
					margin-right:5px;
				}
			} //first-child
			
			&:last-child {
				padding-right:20px;
				
				a {
					text-decoration:none;
				}
			}
			
			&:before {
				margin:0 10px;
				content:">";
			}
			
			a {
				color:#666;
				
				&:hover {
					color:$linkColor_hover;
				}
			} //a
		} //span
	} //nav
} //breadcrumb
*/
/* breadcrumb MICRODATA */
.breadcrumb {
  width: 100%;
  background: #FFF;
}
.breadcrumb nav {
  margin: 0 auto;
}
.breadcrumb nav ol {
  margin: 0;
  padding: 12px 0;
}
.breadcrumb nav ol li {
  line-height: 120%;
  font-size: 13px;
  font-size: 0.8125rem;
  list-style: none;
  float: left;
}
.breadcrumb nav ol li:first-child:before {
  display: none;
}
.breadcrumb nav ol li:first-child i {
  margin-right: 5px;
}
.breadcrumb nav ol li:last-child {
  padding-right: 20px;
}
.breadcrumb nav ol li:last-child a {
  text-decoration: none;
}
.breadcrumb nav ol li:before {
  margin: 0 10px;
  content: ">";
}

/*----------------------------------------
	body
----------------------------------------*/
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  font-size: 16px;
  font-size: 1rem;
  color: #212121;
  text-align: center;
  line-height: 160%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #212121;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a * {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover {
  color: #616161;
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  a:hover {
    opacity: 1 !important;
    filter: alpha(opacity=100);
  }
  a:hover img {
    opacity: 1 !important;
    filter: alpha(opacity=100);
  }
}
@media only screen and (max-width: 640px) {
  a:hover {
    opacity: 1 !important;
    filter: alpha(opacity=100);
  }
  a:hover img {
    opacity: 1 !important;
    filter: alpha(opacity=100);
  }
}
a:active {
  color: #212121;
}

.clearfix {
  min-height: 1px;
  _height: 1%;
}
.clearfix:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}

/*----------------------------------------
	container
----------------------------------------*/
.container {
  margin: 0 auto;
  width: 100%;
  text-align: left;
  position: relative;
}

/*----------------------------------------
	header
----------------------------------------*/
/*----------------------------------------
	footer
----------------------------------------*/
/*----------------------------------------
	sidebar
----------------------------------------*/
/*----------------------------------------
	index
----------------------------------------*/
/*----------------------------------------
	other
----------------------------------------*/
