@charset "utf-8";

// ============================================================
// 共通部分
// ============================================================

/*----------------------------------------
	body
----------------------------------------*/
body {
	font-family:$fontFamily1;
	@include fs(16);
	color:$textColor;
	text-align:center;
	line-height:$lineHeight;
	@include font-smoothing(antialiased);
	//@include imgmax;
}

a {
	color:$linkColor;
	outline:none;
	text-decoration:none;
	@include transition(all 0.5s ease);
	
	& * {
		@include transition(all 0.5s ease);
	}
	
	&:hover {
		color:$linkColor_hover;
		
		//iOS 8.4.1以降のopacity対策
		@include tablet {
			@include opacity(1,important);
			
			img {
				@include opacity(1,important);
			}
		} //tablet
		
		//iOS 8.4.1以降のopacity対策
		@include sp {
			@include opacity(1,important);
			
			img {
				@include opacity(1,important);
			}
		} //sp
	}
	
	&:active {
		color:$linkColor_active;
	}
} //a

@include clearfixBase;



/*----------------------------------------
	container
----------------------------------------*/
.container {
	margin:0 auto;
	width:$baseWidth;
	text-align:left;
	position:relative;
	@extend %clear;
} //container
