@charset "utf-8";
// ============================================================
// カラー設定
// ============================================================

/*----------------------------------------
	color
----------------------------------------*/

$cBase1:#538B1D;
$cBase2:#73BE28;
$cBase3:#81D32E;
$cBase4:#DEF4C8;
$cBase5:#F5FCEE;

//SNS Color
$color-Facebook: #3251A5;
$color-twitter: #178EF2;
$color-line: #1BAE0D;

// Black
$cBlack1:#111;
$cBlack2:#333;

// Gray
$cGray1:#666;
$cGray2:#888;
$cGray3:#999;
$cGray4:#BBB;
$cGray5:#DDD;

// Blue
$cBlue1:#33A4C9;
$cBlue2:adjust-color($cBlue1,$saturation:5%,$lightness:13.5%);
$cBlue3:adjust-color($cBlue1,$saturation:5%,$lightness:23.5%);
$cBlue4:adjust-color($cBlue1,$saturation:5%,$lightness:33.5%);
$cBlue5:adjust-color($cBlue1,$saturation:5%,$lightness:43.5%);

// Green
$cGreen1:#538B1D;
$cGreen2:adjust-color($cGreen1,$saturation:5%,$lightness:13.5%);
$cGreen3:adjust-color($cGreen1,$saturation:5%,$lightness:23.5%);
$cGreen4:adjust-color($cGreen1,$saturation:5%,$lightness:33.5%);
$cGreen5:adjust-color($cGreen1,$saturation:5%,$lightness:43.5%);

// Orange
$cOrange1:#FD7E00;
$cOrange2:adjust-color($cOrange1,$saturation:5%,$lightness:13.5%);
$cOrange3:adjust-color($cOrange1,$saturation:5%,$lightness:23.5%);
$cOrange4:adjust-color($cOrange1,$saturation:5%,$lightness:33.5%);
$cOrange5:adjust-color($cOrange1,$saturation:5%,$lightness:43.5%);

// Red
$cRed1:#B20000;
$cRed2:adjust-color($cRed1,$saturation:5%,$lightness:13.5%);
$cRed3:adjust-color($cRed1,$saturation:5%,$lightness:23.5%);
$cRed4:adjust-color($cRed1,$saturation:5%,$lightness:33.5%);
$cRed5:adjust-color($cRed1,$saturation:5%,$lightness:43.5%);

// Yellow
$cYellow1:#FFC926;
$cYellow2:adjust-color($cYellow1,$saturation:5%,$lightness:13.5%);
$cYellow3:adjust-color($cYellow1,$saturation:5%,$lightness:23.5%);
$cYellow4:adjust-color($cYellow1,$saturation:5%,$lightness:33.5%);
$cYellow5:adjust-color($cYellow1,$saturation:5%,$lightness:43.5%);

// Purple
$cPurple1:#A64DFF;
$cPurple2:adjust-color($cPurple1,$saturation:5%,$lightness:13.5%);
$cPurple3:adjust-color($cPurple1,$saturation:5%,$lightness:23.5%);
$cPurple4:adjust-color($cPurple1,$saturation:5%,$lightness:33.5%);
$cPurple5:adjust-color($cPurple1,$saturation:5%,$lightness:38.5%);

// Brown
$cBrown1:#663300;
$cBrown2:adjust-color($cBrown1,$saturation:5%,$lightness:13.5%);
$cBrown3:adjust-color($cBrown1,$saturation:5%,$lightness:23.5%);
$cBrown4:adjust-color($cBrown1,$saturation:5%,$lightness:33.5%);
$cBrown5:adjust-color($cBrown1,$saturation:5%,$lightness:43.5%);

// Pink
$cPink1:#dc007f;
$cPink2:adjust-color($cPink1,$saturation:5%,$lightness:13.5%);
$cPink3:adjust-color($cPink1,$saturation:5%,$lightness:23.5%);
$cPink4:adjust-color($cPink1,$saturation:5%,$lightness:33.5%);
$cPink5:adjust-color($cPink1,$saturation:5%,$lightness:43.5%);



// ============================================================
// color
// ============================================================

.cBase1 {
	color:$cBase1;
}
.cBase2 {
	color:$cBase2;
}
.cBase3 {
	color:$cBase3;
}
.cBase4 {
	color:$cBase4;
}
.cBase5 {
	color:$cBase5;
}

.cBlack1 {
	color:$cBlack1;
}
.cBlack2 {
	color:$cBlack2;
}

.cGray1 {
	color:$cGray1;
}
.cGray2 {
	color:$cGray2;
}
.cGray3 {
	color:$cGray3;
}
.cGray4 {
	color:$cGray4;
}
.cGray5 {
	color:$cGray5;
}

.cBlue1 {
	color:$cBlue1;
}
.cBlue2 {
	color:$cBlue2;
}
.cBlue3 {
	color:$cBlue3;
}
.cBlue4 {
	color:$cBlue4;
}
.cBlue5 {
	color:$cBlue5;
}

.cRed1 {
	color:$cRed1;
}
.cRed2 {
	color:$cRed2;
}
.cRed3 {
	color:$cRed3;
}
.cRed4 {
	color:$cRed4;
}
.cRed5 {
	color:$cRed5;
}

.cGreen1 {
	color:$cGreen1;
}
.cGreen2 {
	color:$cGreen2;
}
.cGreen3 {
	color:$cGreen3;
}
.cGreen4 {
	color:$cGreen4;
}
.cGreen5 {
	color:$cGreen5;
}

.cYellow1 {
	color:$cYellow1;
}
.cYellow2 {
	color:$cYellow2;
}
.cYellow3 {
	color:$cYellow3;
}
.cYellow4 {
	color:$cYellow4;
}
.cYellow5 {
	color:$cYellow5;
}

.cOrange1 {
	color:$cOrange1;
}
.cOrange2 {
	color:$cOrange2;
}
.cOrange3 {
	color:$cOrange3;
}
.cOrange4 {
	color:$cOrange4;
}
.cOrange5 {
	color:$cOrange5;
}

.cPurple1 {
	color:$cPurple1;
}
.cPurple2 {
	color:$cPurple2;
}
.cPurple3 {
	color:$cPurple3;
}
.cPurple4 {
	color:$cPurple4;
}
.cPurple5 {
	color:$cPurple5;
}

.cBrown1 {
	color:$cBrown1;
}
.cBrown2 {
	color:$cBrown2;
}
.cBrown3 {
	color:$cBrown3;
}
.cBrown4 {
	color:$cBrown4;
}
.cBrown5 {
	color:$cBrown5;
}

.cPink1 {
	color:$cPink1;
}
.cPink2 {
	color:$cPink2;
}
.cPink3 {
	color:$cPink3;
}
.cPink4 {
	color:$cPink4;
}
.cPink5 {
	color:$cPink5;
}



// ============================================================
// background color
// ============================================================

.bgBase1 {
	background:$cBase1 !important;
}
.bgBase2 {
	background:$cBase2 !important;
}
.bgBase3 {
	background:$cBase3 !important;
}
.bgBase4 {
	background:$cBase4 !important;
}
.bgBase5 {
	background:$cBase5 !important;
}

.bgGray1 {
	background:$cGray1 !important;
}
.bgGray2 {
	background:$cGray2 !important;
}
.bgGray3 {
	background:$cGray3 !important;
}
.bgGray4 {
	background:$cGray4 !important;
}
.bgGray5 {
	background:$cGray5 !important;
}

.bgBlue1 {
	background:$cBlue1 !important;
}
.bgBlue2 {
	background:$cBlue2 !important;
}
.bgBlue3 {
	background:$cBlue3 !important;
}
.bgBlue4 {
	background:$cBlue4 !important;
}
.bgBlue5 {
	background:$cBlue5 !important;
}

.bgRed1 {
	background:$cRed1 !important;
}
.bgRed2 {
	background:$cRed2 !important;
}
.bgRed3 {
	background:$cRed3 !important;
}
.bgRed4 {
	background:$cRed4 !important;
}
.bgRed5 {
	background:$cRed5 !important;
}

.bgGreen1 {
	background:$cGreen1 !important;
}
.bgGreen2 {
	background:$cGreen2 !important;
}
.bgGreen3 {
	background:$cGreen3 !important;
}
.bgGreen4 {
	background:$cGreen4 !important;
}
.bgGreen5 {
	background:$cGreen5 !important;
}

.bgYellow1 {
	background:$cYellow1 !important;
}
.bgYellow2 {
	background:$cYellow2 !important;
}
.bgYellow3 {
	background:$cYellow3 !important;
}
.bgYellow4 {
	background:$cYellow4 !important;
}
.bgYellow5 {
	background:$cYellow5 !important;
}

.bgOrange1 {
	background:$cOrange1 !important;
}
.bgOrange2 {
	background:$cOrange2 !important;
}
.bgOrange3 {
	background:$cOrange3 !important;
}
.bgOrange4 {
	background:$cOrange4 !important;
}
.bgOrange5 {
	background:$cOrange5 !important;
}

.bgPurple1 {
	background:$cPurple1 !important;
}
.bgPurple2 {
	background:$cPurple2 !important;
}
.bgPurple3 {
	background:$cPurple3 !important;
}
.bgPurple4 {
	background:$cPurple4 !important;
}
.bgPurple5 {
	background:$cPurple5 !important;
}

.bgBrown1 {
	background:$cBrown1 !important;
}
.bgBrown2 {
	background:$cBrown2 !important;
}
.bgBrown3 {
	background:$cBrown3 !important;
}
.bgBrown4 {
	background:$cBrown4 !important;
}
.bgBrown5 {
	background:$cBrown5 !important;
}

.bgPink1 {
	background:$cPink1 !important;
}
.bgPink2 {
	background:$cPink2 !important;
}
.bgPink3 {
	background:$cPink3 !important;
}
.bgPink4 {
	background:$cPink4 !important;
}
.bgPink5 {
	background:$cPink5 !important;
}
