@charset "utf-8";
// ============================================================
// 設定
// ============================================================

// HTML5の場合は「true」
$html5 : true;

// compass ブラウザサポート
$legacy-support-for-ie6 : true;
$legacy-support-for-ie7 : true;

$experimental-support-for-webkit : true;
$experimental-support-for-mozilla : true;
$experimental-support-for-opera : true;
$experimental-support-for-microsoft : true;
$experimental-support-for-khtml : false;

// ie9用 svg
$experimental-support-for-svg: true;

// 画像パス
$imgPath : "../images/";

// commonフォルダ内の画像のパス
$commonImgPath: "../common/images/";

// ページの全体の横幅
$baseWidth : 100%;

// 標準font-family
$fontFamily1 : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
$fontFamily2 : "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;

// 標準行間
$lineHeight : 160%;

// 標準テキストカラー
$textColor : $md-grey-900;

// 標準リンクカラー
$linkColor : $md-grey-900;
$linkColor_visit : $md-grey-900;
$linkColor_active : $md-grey-900;
$linkColor_hover : $md-grey-700;