@charset "utf-8";

// ----------------------------------------------------------------------
// MediaQuery
// ----------------------------------------------------------------------

@mixin desk {
	// PC表示
	@media only screen and (min-width: $width-pc) {
		@content;
	}
}

@mixin tablet {
	// タブレット表示
	@media only screen and (min-width: $width-smartphone1) and (max-width: $width-pc) {
		@content;
	}
}

@mixin tablet1 {
	// タブレット表示 1段階目(大)
	@media only screen and (min-width: $width-tablet2) and (max-width: $width-tablet1) {
		@content;
	}
}

@mixin tablet2 {
	// タブレット表示 2段階目(小)
	@media only screen and (min-width: $width-smartphone1) and (max-width: $width-tablet2) {
		@content;
	}
}

@mixin sp {
	// スマートフォン表示 1段階目(大)
	@media only screen and (max-width: $width-smartphone1) {
		@content;
	}
}

@mixin sp1 {
	// スマートフォン表示 2段階目(小)
	@media only screen and (max-width: $width-smartphone2) {
		@content;
	}
}


