@charset "utf-8";

// ============================================================
// display style
// ============================================================

/* width */
.w1 {width:1%;}
.w2 {width:2%;}
.w3 {width:3%;}
.w4 {width:4%;}
.w5 {width:5%;}
.w6 {width:6%;}
.w7 {width:7%;}
.w8 {width:8%;}
.w9 {width:9%;}
.w10 {width:10%;}
.w11 {width:11%;}
.w12 {width:12%;}
.w13 {width:13%;}
.w14 {width:14%;}
.w15 {width:15%;}
.w16 {width:16%;}
.w17 {width:17%;}
.w18 {width:18%;}
.w19 {width:19%;}
.w20 {width:20%;}
.w21 {width:21%;}
.w22 {width:22%;}
.w23 {width:23%;}
.w24 {width:24%;}
.w25 {width:25%;}
.w26 {width:26%;}
.w27 {width:27%;}
.w28 {width:28%;}
.w29 {width:29%;}
.w30 {width:30%;}
.w31 {width:31%;}
.w32 {width:32%;}
.w33 {width:33%;}
.w34 {width:34%;}
.w35 {width:35%;}
.w36 {width:36%;}
.w37 {width:37%;}
.w38 {width:38%;}
.w39 {width:39%;}
.w40 {width:40%;}
.w41 {width:41%;}
.w42 {width:42%;}
.w43 {width:43%;}
.w44 {width:44%;}
.w45 {width:45%;}
.w46 {width:46%;}
.w47 {width:47%;}
.w48 {width:48%;}
.w49 {width:49%;}
.w50 {width:50%;}
.w60 {width:60%;}
.w65 {width:65%;}
.w70 {width:70%;}
.w75 {width:75%;}
.w80 {width:80%;}
.w85 {width:85%;}
.w90 {width:90%;}
.w95 {width:95%;}
.w100 {width:100%;}


/* align */
.aLeft {
	text-align:left !important;
}
.aRight {
	text-align:right !important;
}
.aCenter {
	text-align:center !important;
}
.vTop {
	vertical-align:top !important;
}
.vMiddle {
	vertical-align:middle !important;
}
.vBottom {
	vertical-align:bottom !important;
}


/* float */
.fl {
	float:left;
	
	@include tablet2 {
		float:none;
	} //tablet2
	
	@include sp {
		float:none;
	} //sp
} //fl

.fr {
	float:right;
	
	@include tablet2 {
		float:none;
	} //tablet2
	
	@include sp {
		float:none;
	} //sp
} //fr


/* visivle style */
.spNone {
	@include sp {
		display:none !important;
	} //sp
}

.tabNone {
	@include tablet {
		display:none !important;
	} //tablet
}

.pcNone {
	@include desk {
		display:none !important;
	} //desk
}


.spVisible {
	@include desk {
		display:none;
	} //desk

	@include tablet {
		display:none;
	} //tablet
}


.tabVisible {
	@include desk {
		display:none;
	} //desk

	@include sp {
		display:none;
	} //sp
}


.pcVisible {
	@include tablet {
		display:none;
	} //tablet

	@include sp {
		display:none;
	} //sp
}



