/*----------------------------------------
	IE6 Upgrade Warning
----------------------------------------*/
#ieError {
	color:#FFF;
	background:#000;
	padding: 20px;
	text-align:center;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1000;
	width:100%;
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
 
	strong {
		color:#FFF;
	}
 
	a {
		color:#D90000;
		text-decoration:underline;
	}
}





