@charset "utf-8";

// ============================================================
// letter spacing style
// ============================================================


// plus spacing
.lts1 {
	letter-spacing:1px;
}
.lts2 {
	letter-spacing:2px;
}
.lts3 {
	letter-spacing:3px;
}
.lts4 {
	letter-spacing:4px;
}
.lts5 {
	letter-spacing:5px;
}
.lts6 {
	letter-spacing:6px;
}
.lts7 {
	letter-spacing:7px;
}
.lts8 {
	letter-spacing:8px;
}
.lts9 {
	letter-spacing:9px;
}
.lts10 {
	letter-spacing:10px;
}


// minus spacing
.ltsm1 {
	letter-spacing:-1px;
}
.ltsm2 {
	letter-spacing:-2px;
}
.ltsm3 {
	letter-spacing:-3px;
}
.ltsm4 {
	letter-spacing:-4px;
}
.ltsm5 {
	letter-spacing:-5px;
}
.ltsm6 {
	letter-spacing:-6px;
}
.ltsm7 {
	letter-spacing:-7px;
}
.ltsm8 {
	letter-spacing:-8px;
}
.ltsm9 {
	letter-spacing:-9px;
}
.ltsm10 {
	letter-spacing:-10px;
}