@charset "utf-8";

// ============================================================
// パンくず
// ============================================================

/* breadcrumb source

// RDF
<aside class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
	<nav class="container">
		<span typeof="v:Breadcrumb"><i class="icon-house158"></i><a href="/" title="ホームへ" rel="v:url" property="v:title" class="link">ホーム</a></span>
		<span typeof="v:Breadcrumb"><a href="/about/" title="ページタイトル" rel="v:url" property="v:title" class="current">ページタイトル</a></span>
	</nav>
</aside>


// MICRODATA
<aside class="breadcrumb">
	<nav class="container">
		<ol itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="/"><span itemprop="name">ホーム</span></a>
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="/about/" class="current"><span itemprop="name">ページタイトル</span></a>
			</li>
		</ol>
	</nav>
</aside>
*/

/* breadcrumb RDF */
/*
.breadcrumb {
	margin-bottom:30px;
	width:100%;
	height:20px;
	
	nav {
		margin:0 auto;
		text-align:right;
		
		span {
			line-height:20px;
			@include fs(12);
			color:#666;
			
			&:first-child {
				&:before {
					display:none;
				}
				
				i {
					margin-right:5px;
				}
			} //first-child
			
			&:last-child {
				padding-right:20px;
				
				a {
					text-decoration:none;
				}
			}
			
			&:before {
				margin:0 10px;
				content:">";
			}
			
			a {
				color:#666;
				
				&:hover {
					color:$linkColor_hover;
				}
			} //a
		} //span
	} //nav
} //breadcrumb
*/


/* breadcrumb MICRODATA */
.breadcrumb {
	width:100%;
	background:#FFF;
	
	nav {
		margin:0 auto;
		
		ol {
			margin:0;
			padding:12px 0;
			@extend %clear;
			
			li {
				line-height:120%;
				@include fs(13);
				list-style:none;
				float:left;
				
				&:first-child {
					&:before {
						display:none;
					}
					
					i {
						margin-right:5px;
					}
				} //first-child
				
				&:last-child {
					padding-right:20px;
					
					a {
						text-decoration:none;
					}
				}
				
				&:before {
					margin:0 10px;
					content:">";
				}
			} //li
		} //ol
	} //nav
} //breadcrumb
