@charset "utf-8";

// ============================================================
// btn style
// ============================================================

.btn {
	@include display-flex;
	@include justify-content(center);
	@include align-items(center);
	@include border-radius(4px);
	@include box-sizing(border-box);
	background: $md-grey-100;
	border: 1px solid $md-grey-300;
	color: $textColor;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;
	position: relative;
	@include transition(all 0.5s ease);
}
