@charset "utf-8";

// ============================================================
// contact form 7 style
// ============================================================

/* contact form7 */
span.wpcf7-not-valid-tip {
	color:$cRed1;
	@include fs(14);
	font-weight:bold;
}

div.wpcf7-validation-errors {
	margin:0 !important;
	padding:30px 15px;
	border:2px solid $cRed1;
	color:$cRed1;
	text-align:center;
	@include fs(16);
	font-weight:bold;
	
	@include sp {
		@include fs(15);
	} //sp
}

div.wpcf7-mail-sent-ok {
	padding:30px 15px;
	border:none;
	background:$cRed1;
	@include border-radius(5px);
	color:#FFF;
	text-align:center;
	@include fs(16);
	font-weight:bold;
	
	@include sp {
		@include fs(15);
	} //sp
}

div.wpcf7-response-output {
	margin:0 !important;
}

.ajax-loader {
	margin:0 auto !important;
	padding:15px;
	display:block;
}




span.wpcf7-list-item {
	margin-left:0;
	display:inline-block;
	
	&.first {
		width:160px;
		
		@include sp {
			margin-right:20px;
			width:auto;
		} //sp
	}
}








