@charset "utf-8";

// ============================================================
// form style
// ============================================================


input, select {
	padding:2px 4px;
	height:24px;
	@include box-sizing(border-box);
	@include border-radius(4px);
	background: $md-white;
	border:1px solid $md-grey-300;
	vertical-align: top;
	@include input-placeholder {
		color: $md-grey-400;
		@include fs(12);
	}

	@include tablet {
		-webkit-appearance:none;
	} //tablet

	@include sp {
		-webkit-appearance:none;
	} //sp

	&:focus {
		outline: 0;
		background: rgba($md-cyan-50, .3);
	}
}

input[type='search'] {
	-webkit-appearance: none;
}

input[type='time'] {
	font-family: $fontFamily1;
}

label {
	cursor: pointer;
}

textarea {
	padding:4px 6px;
	@include box-sizing(border-box);
	@include border-radius(4px);
	background: $md-white;
	border:1px solid $md-grey-300;
	@include input-placeholder {
		color: $md-grey-400;
	}

	&:focus {
		outline: 0;
		background: rgba($md-cyan-50, .3);
	}
}


// checkbox style
//
// （例）
// <label>
// 	<input name="checkboxname" class="checkboxInput" value="1" type="checkbox">
// 	<span class="checkboxInput-style">ラベル名</span>
// </label>

.checkboxInput {
	display: none;

	&:checked + .checkboxInput-style{
		color: $md-cyan-600;
	}

	&:checked + .checkboxInput-style {
		&:after{
			content: "";
			width: 6px;
			height: 12px;
			display: block;
			border-bottom: 4px solid $md-cyan-600;
			border-right: 4px solid $md-cyan-600;
			@include transform(rotate(40deg));
			position: absolute;
			top: -3px;
			left: 5px;
			cursor: pointer;
		}
	}
}

.checkboxInput-style {
	padding-left: 22px;
	position: relative;
	white-space: nowrap;
	top: -1px;

	&:before {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		background: $md-blue-grey-50;
		@include box-shadow(0 0 0 2px rgba($md-white, 1.0) inset);
		border: 1px solid $md-blue-grey-200;
		@include border-radius(2px);
		@include box-sizing(border-box);
		position: absolute;
		top: 2px;
		left: 0;
		cursor: pointer;
	}

	&-noText {
		padding-left: 15px;
	}
}

// radio style
//
// （例）
// <label>
//	<input name="radioname" class="radioInput" value="1" type="radio">
//	<span class="radioInput-style">ラベル名</span>
// </label>
// <label>
//	<input name="radioname" class="radioInput" value="1" type="radio">
//	<span class="radioInput-style">ラベル名</span>
// </label>

.radioInput {
	display: none;

	&:checked + .radioInput-style{
		color: $md-cyan-600;
	}

	&:checked + .radioInput-style {
		&:after{
			content: "";
			width: 10px;
			height: 10px;
			display: block;
			background: $md-cyan-600;
			@include border-radius(50%);
			position: absolute;
			top: 5px;
			left: 3px;
			cursor: pointer;
		}
	}
}

.radioInput-style {
	margin-right: 20px;
	padding-left: 22px;
	position: relative;
	white-space: nowrap;

	&:before {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		background: $md-blue-grey-50;
		@include box-shadow(0 0 0 2px rgba($md-white, 1.0) inset);
		border: 1px solid $md-blue-grey-200;
		@include border-radius(50%);
		@include box-sizing(border-box);
		position: absolute;
		top: 2px;
		left: 0;
		cursor: pointer;
	}
}



.btnContainer {
	@include display-flex;
	@include flex-direction(row);
	@include justify-content(center);
}