@charset "utf-8";

// ============================================================
// icon style
// ============================================================

.icon {
	&:before {
		margin: 0 auto;
		content: '';
		display: inline-block;
		@include transition(all 0.5s ease);
		position: relative;
	}

	&-plus {
		&:before {
			width: 18px;
			height: 18px;
			background: url(../images/common/icon_plus.png) no-repeat;
		}
	}

	&-minus {
		&:before {
			width: 18px;
			height: 18px;
			background: url(../images/common/icon_minus.png) no-repeat;
		}
	}
}