@charset "utf-8";

// ============================================================
// pagetop style
// ============================================================

.pagetop {
	position: fixed;
	bottom: 80px;
	right: 20px;
	
	a {
		width: 60px;
		height: 60px;
		display: block;
		@include border-radius(4px);
		background: $md-black;
		text-align: center;
		text-decoration: none;
		position: relative;
		
		&:hover {
			@include opacity(0.5);
		}
		
		&:before {
			content: '';
			width: 60px;
			height: 60px;
			display: block;
			background: url(../images/common/arrow_btn.png) no-repeat center;
			@include transform(rotate(-90deg));
			position: absolute;
			top: 0;
		}
	} //a
} //pagetop




