@charset "utf-8";

// ============================================================
// pagenavi style
// ============================================================

.pagenavi {
	margin:0 auto;
	text-align:center;
	position:relative;
	
	@include sp {
		padding-top:10px;
	} //sp
} //pagenavi


.pagenateSingle {
	@extend .pagenavi;
	
	@include sp {
		padding:0 0 40px;
	} //sp
	
	.previouspostslink {
		margin:0;
		position:absolute;
		top:30px;
		left:0;
	}
	
	.nextpostslink {
		margin:0;
		position:absolute;
		top:30px;
		right:0;
		left:inherit;
	}
} //pagenateSingle


.previouspostslink {
	margin:0 30px;
	@include fs(18);
	color:$cBase1;
	
	@include sp {
		margin:0 15px;
	} //sp
	
	span {
		margin:0 0 0 10px;
		display:inline-block;
		@include fs(12);
		color:#666;
		vertical-align:top;
	}
	
	i {
		margin:0 20px 0 0;
		color:#666;
	}
	
	&:hover {
		@include opacity(0.5);
	}
} //previouspostslink


.nextpostslink {
	@extend .previouspostslink;
	
	i {
		margin:0 0 0 20px;
	}
} //nextpostslink



/* pagenavi */
.wp-pagenavi {
	padding-top:15px;
	
	a, span {
		margin:0 5px;
		width:30px;
		line-height:26px;
		display:inline-block;
		border:1px solid $cBase1;
		background:#FFF;
		text-decoration:none;
		text-align:center;
		@include fs(14);
		@include box-sizing(border-box);
	}
	
	a:hover, .current {
		border-color:$cBase1;
		background:$cBase1;
		color:#FFF;
	}
	
	.pages {
		margin-left:0;
		padding:0 6px;
		width:auto;
	}
	
	.current {
		font-weight:bold;
		border:1px solid $cBase1 !important;
	}
	
	.previouspostslink, .nextpostslink, .last, .first {
		width:48px;
	}
	
	.extend {
		width:auto;
		border:none;
	}
	
	
	@include sp {
		text-align:center;
		
		.pages {
			margin-bottom:5px;
			display:block;
		}
		
		a, span {
			margin:3px;
		}
		
		.last {
			margin:5px auto 0;
			display:block;
		}
		
		.first {
			margin-bottom:0 auto 5px;
			display:block;
		}
	} //sp
} //wp-pagenavi

