@charset "utf-8";

// ============================================================
// sns btn style
// ============================================================

.sns {
	margin:0 0 15px;
	padding:10px 0;
	@extend %clear;
	
	@include sp {
		padding:0;
	} //sp
	
	li {
		margin-right:10px;
		display:inline-block;
		list-style:none;
		vertical-align:top;
		
		@include sp {
			margin:0 0 5px 0;
			display:block;
		} //sp
		
		div {
			line-height:100% !important;
			vertical-align:top;
		}
		
		&:last-child {
			> div {
				width:60px !important;
			}
		}
	} //li
} //sns

.twitter-share-button {
	width:100px !important;
}

