@charset "utf-8";

// ============================================================
// table style
// ============================================================

.baseTable {
	width: 100%;
	background: $md-white;
	@include box-sizing(border-box);
	
	th, td {
		padding: 10px;
		line-height: 120%;
		border: 1px solid $md-grey-300;
		@include box-sizing(border-box);
		vertical-align: top;
		
		@include sp {
			padding: 6px 8px;
		} //sp
	}
	
	td {
		vertical-align: middle;
	}
	
	th {
		background: $md-grey-50;
		font-weight: 500;
		text-align: center;
	}
	
	
	&-sp {
		tr {
			display: block;
			width: 100%;
		}
		
		th, td {
			margin-top: -1px;
			display: block;
			width: 100%;
		}
	}
} //tableBase


