@charset "utf-8";

// ============================================================
// WordPress 投稿ページ
// ============================================================

.aligncenter {
	margin:0 auto;
	display:block;
}

.alignright {
	margin:0 0 10px 20px;
	float:right;
}

.alignleft {
	margin:0 20px 10px 0;
	float:left;
}